FLASK_DEBUG=false# true | false
AI_DB_CONNECTION_STRING=mongodb://localhost:27017/ai_db
QDRANT_URL=http://127.0.0.1:6333
QDRANT_COLLECTION_NAME=rag_chunks_hybrid
MISTRAL_API_KEY=api-key-needed
GOOGLE_AI_API_KEY=api-key-needed
OPENAI_API_KEY=api-key-needed
